/**
 * Buttons:
 * `.button` - Button classes
 *
 *   @example
 *   <button class="button button-transparent">Transparent buttons</button>
 *   <button class="button button-green">Green buttons</button>
 *   <button class="button button-red">Red buttons</button>
 *   <button class="button button-yellow">Yellow buttons</button>
 *   <button class="button button-blue">Blue buttons</button>
 *   <button class="button button-skyblue">Sky blue buttons</button>
 *   <p style="margin: 10px 0">
 *   <button class="button button-blue button-gradiented">Gradiented buttons</button>
 *   <button class="button button-plain">Plain button</button>
 *   </p>
 */
.button{
  display: inline-block;
  padding: .8rem 1.3rem;
  background: #888;
  color: $white;
  border: solid thin rgba($black, .1);
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  transition: 300ms box-shadow ease-in-out;
  letter-spacing: .5px;
  &:not(.button-plain):not(.button-transparent):hover{
    color: $white;
  }
  &:focus{
    outline: none;
  }
  &-transparent{
    border: solid 2px currentColor;
    background: transparent;
    color: inherit;
  }
  &-plain{
    padding: .4rem 1.4rem;
    background: #ddd;
    color: #888;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    border-radius: 4px;
    font-size: 1.5rem;
    @include button-hover(#ddd);
    &:hover{
      box-shadow: none;
    }
  }
  &-gradiented{
    background: #58a linear-gradient(hsla(0,0%, 100%,.2),transparent);
  }
  // Sizes
  /**
   * Button Sizes:
   * Button in different sizes
   *
   *   @example
   *   <p><button class="button button-sm">Small Button</button></p>
   *   <p><button class="button">Regular Button</button></p>
   *   <p><button class="button button-lg">Large Button</button></p>
   *   <p><button class="button button-block">Block Button</button></p>
   *
   */
  &-sm{
    padding: .5rem 1rem;
  }
  &-lg{
    padding: 1.2rem 3rem;
  }
  &-block{
    display: block;
    width: 100%;
  }
  // Colors
  &-green{
    background-color: #6b0;
    @include button-hover(#6b0);
  }
  &-red{
    background-color: #c00;
    @include button-hover(#c00);
  }
  &-yellow{
    background-color: #eb0;
    @include button-hover(#eb0);
  }
  &-blue{
    background-color: #3498db;
    @include button-hover(#3498db);
  }
  &-skyblue{
    background-color: #11c1f3;
    @include button-hover(#11c1f3);
  }
  &-custom{
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: .65em;
    transition: background-color .35s ease;
    padding: 1.2rem 3rem;
      &:hover, &:focus, &:active{
          text-decoration: none;
          background: #75b9e7;
      }      
  }
  &-green, &-red, &-yellow, &-blue, &-skyblue, &-custom{
    color: $white;
  }
}
