<<<<<<< HEAD
.fancy-list{ 
  list-style-type: none;
  font-family: 'Ionicons';
  li {
  	&::before{
        content: "\f122";
        padding-right: 10px;
  	}
=======
.fancy-list{
  list-style-type: none;
  li{
	&::before{
      content: "\f375";
      padding-right: 5px;
      font-family: 'Ionicons';
      color: #679567;
	}
>>>>>>> master
  }
}
