/*--------------------------------*\
  Grid
\*--------------------------------*/
.row{
  @include row();
  &--floats{
    @include clearfixable();
  }
}
@for $i from 1 through 12{
  .column-#{$i}{
    width: 100%;
  }
  @if $i < 10{
    @include breakpoint($breakpoint-tablet-landscape){
      .column-#{$i}{
        @include column(6);
      }
    }
  }
  @include breakpoint($breakpoint-tablet-landscape){
    .column-#{$i}{
      @include column($i);
    }
  }
  .grid-#{$i}{
    float: left;
    width: ($i/12) * 100%;
  }
}
