.c-modal {

  postion: relative;
  width: 100%;
  margin-right: auto;
  margin-left:  auto;
  padding-top: 50px;

  &--wrapper {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
