/**
 * Prompt:
 * `.prompt` - Prompts are alerts.
 *
 *   @example
 *   <div class="prompt prompt--success prompt--wide">
 *    This is an alert
 *   </div>
 *   <div class="prompt prompt--warning prompt--wide">
 *    This is an alert
 *   </div>
 *   <div class="prompt prompt--danger prompt--wide">
 *    This is an alert
 *   </div>
 */
.prompt{
  margin: 20px auto;
  padding: 10px;
  border: solid thin hsla(0, 0%, 0%, .05);
  box-shadow: 0 4px 2px rgba($black, .1);
  text-shadow: 0 0 2px rgba($black, .2);
  color: $white;
  &:empty{
    display: none;
  }

  // Colors
  &--warning{
    background-color: #eb0;
  }
  &--danger{
    background-color: #D84040;
  }
  &--success{
    background-color: #6b0;
  }

  // Sizes
  &--wide{
    width: 100%;
  }
}
