.wrapper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(0,0,0,0.7);
}

.row--wrapper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: lime;
}
