.authenticator{
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  padding: 100px 0 20px;
  &__container{
    width: 100%;
    background: $white;
    box-shadow: 0 1px 3px rgba($black, .6);
    font-family: $font--secondary;
    padding: 30px 20px;
  }
  &__heading{
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
  }
  &__form{
    .form__input{
      border: 0;
      box-shadow: 0 0 2px $black inset;
    }
    .help-text{
      color: inherit;
    }
  }
  &__links{
    margin-top: 20px;
    text-align: center;
    a{
      display: block;
      margin-bottom: 5px;
      color: darken($white, 10%);
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}
