/*--------------------------------*\
  Global Rules/Namespace
\*--------------------------------*/
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: $font--primary;
  font-size: 1.6rem;
  line-height: 1.6;
  background: $bg-color;
  color: #222;
  transition: transform 500ms ease;
  .openNav &{
    right: 0;
    transform: translate3d(-70%, 0, 0);
  }
}
blockquote{
  position: relative;
  padding: 30px 20px 10px;
  width: 90%;
  max-width: 500px;
  font-weight: 500;
  &::before, &::after{
    position: absolute;
    font-size: 5rem;
    color: #777;
  }
  &::before{
    content: '“';
    top: 10px;
    left: 0;
  }
  &::after{
    content: '”';
    top: 30px;
    right: 0;
  }
}
cite{
  display: block;
  font-weight: 300;
  &::before{
    content: '— ';
  }
}
a{
  color: #2299D5;
  text-decoration: none;
}
input{
  font-family: inherit;
}
em{
  font-weight: 400;
}
.wrap{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
  &-2x{
    width: 2em;
    height: 2em;
  }
}
