
.page {
  width: 100%;
  min-height: 100vh;
  background: url(/dist/images/cover-image.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin-left: 10%;
  margin-top: 100px;
  color: $white;
  &__description{
    font-family: $font--secondary;
    font-size: 1.6rem;
    color: #888;
  }
}