.page {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background: url(http://science-all.com/images/wallpapers/black-and-white-images/black-and-white-images-13.jpg) no-repeat;
}

.main {
  margin-left: 10%;
  margin-top: 100px;
  color: $white;
  &__caption{
      font-family: $font--primary;
      font-size: 2.7em;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0;
      letter-spacing: 3px;
      width: 70px;
      display: block;
      text-transform: uppercase;
      line-height: 1.2;
  }
  &__description{
    font-family: $font--secondary;
    font-size: .85em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 11px 0 18px;
    color: darkgray;
    display: block;
    
  }
}