/*--------------------------------*\
  Global Rules/Namespace
\*--------------------------------*/
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Roboto', serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background: $bg-color;
  color: #222;
  transition: transform 500ms ease;
  .openNav &{
    right: 0;
    transform: translate3d(-70%, 0, 0);
  }
}
blockquote{
  position: relative;
  padding: 30px 20px 10px;
  width: 90%;
  max-width: 500px;
  font-weight: 500;
  &::before, &::after{
    position: absolute;
    font-size: 5rem;
    color: #777;
  }
  &::before{
    content: '“';
    top: 10px;
    left: 0;
  }
  &::after{
    content: '”';
    top: 30px;
    right: 0;
  }
}
cite{
  display: block;
  font-weight: 300;
  &::before{
    content: '— ';
  }
}
a{
  color: #2299D5;
  text-decoration: none;
}
input{
  font-family: inherit;
}
em{
  font-weight: 400;
}
.wrap{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
  &-2x{
    width: 2em;
    height: 2em;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  background: url(../images/cover-image.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(0,0,0,0.7);
}

.c-nav {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-family: $font--secondary;
  
  &__icon {
    float: left;
    border: 3px solid grey;
    min-height: 50px;
    min-width: 50px;
    max-width: 80px;
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 10px;
    
    a {
      width: 100%;
      -ms-align-self: center;
      -webkit-align-self: center;
      align-self: center;
      text-decoration: none;
      color: lightgrey;
    }
  }
  
  ul {
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    height: 70px;
    justify-content: flex-end;
    
    li {
      list-style-type: none;
      -webkit-align-self: center;
      -ms-align-self: center;
      align-self: center;
      margin: 0 15px;
      letter-spacing: 2px;
      a {
        text-decoration: none;
        color: white;
        font-family: $font--secondary;
        font-weight: 100;
      }
    }
  }
}

.a--alternative {
  color: #3498db !important;
}

.main {
  margin-left: 10%;
  margin-top: 100px;;
  
  h1 {
    font-family: $font--primary;
    letter-spacing: 3px;
    margin: 10px 0;
    width: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  h4 {
    letter-spacing: 1px;
    margin: 10px 0 20px;
    color: darkgrey;
    font-family: $font--secondary;
    font-size: .85rem;
  }
  
  &__button {
    letter-spacing: 2px;
    display: inline-block;
    background: #3498db;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: .65rem;
    text-transform: uppercase;
    font-family: $font--secondary;
    transition: background-color .35s ease;
    
    &:hover, &:focus, &:active {
      background: lighten(#3498db, 15%);
    }
  }
  
}
