.page{
  /*background-attachment: fixed;*/
  @include tinted-bg($black, .0, '/dist/images/hero-photo.jpg' /*'/dist/images/cover-image-3.jpg'*/, cover);
  width: 100%;
  min-height: 100vh;
  background-position: 50% 90%;
}
