.section{
  &__heading{
    position: relative;
    text-align: left;
    font-weight: 500;
    width:40%;
    float: left;
    font-size: 3.5rem;
    color: #333;
  }
  &__content {
    float: right;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
    &--description {
      float: right;
      clear: both;
      color: #5C5C5C;
      margin-top: 0;
      font-size: 1.4rem;
    }
  }
  &--hero{
    color: $white;
    &__caption{
        font-family: $font--primary;
        font-size: 7rem;
        font-weight: 700;
        margin: 10px 0 10px;
        letter-spacing: 3px;
        width: 70px;
        text-transform: uppercase;
        line-height: 1.1;
    }
    &__description{
      display: block;
      font-family: $font--secondary;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 11px 0 18px;
      color: dcdcdc;
    }
    &__header{
      margin-top: 20px;
      margin-bottom: 50px;
    }
    &__nav{
      float: right;
      a{
        display: inline-block;
        margin-left: 20px;
        color: inherit;
      }
    }
    &__date{
      text-align: center;
      display: block;
      font-family: $font--secondary;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 1px;
      color: white;
      margin: 0;
    }
    &__arrow{
      display: block;
      margin: 0 auto;
      margin-top: 100px;
      width: 5em;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }
  &--contact{
    background-color: #154c71;
    background-image: url(/dist/images/cover-image-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      &__dickbutt{
          width: 10px;

      }
  }
}
