<div class="pagepopup">
    <div class="authenticator">
        <div class="authenticator__container">
            <div class="authenticator__heading">Contact</div>
            <form method="post" action="https://formspree.io/your@email.com" class="form authenticator__form">
                <p><input type="email" name="email" class="form__input form__input--wide" placeholder="Bernie@Example.com"></p>
                <p><input type="text" name="name" class="form__input form__input--wide" placeholder="Name"></p>
                <p><textarea name="message" class="form__text form__input" placeholder="Message"></textarea></p>
                <input type="submit" class="button button-gradiented button-blue button-block" value="Send Message">
            </form>
        </div>
        <div class="authenticator__links">
            <a href="#/">Back to Home</a>
        </div>
    </div>
</div>
