<div class="page">
  <section class="section section--hero">
    <div class="content">
      <header class="section--hero__header row">
        <div class="col">
          <div class="logo">
            <a href="#!/">
              <div class="logo__weak">Down</div>
              <div class="logo__strong">Week</div>
              <div class="logo__weak">2016</div>
            </a>
          </div>
        </div>
        <div class="col">
          <nav class="section--hero__nav">
            <a href="#about">About</a>
            <a href="#login">Login</a>
          </nav>
        </div>
      </header>

      <div class="section--hero__main row">
        <div class="col">
          <h1 class="section--hero__caption">Let's Connect.</h1>
          <h4 class="section--hero__description">#DownWeek2016</h4>
          <a class="button button-blue button-custom button-lg" href="#register">Sign Up</a>
        </div>
      </div>
    </div>
  </section>
</div>