<section class="[ section section--hero ] page">
  <div class="content">
    <header class="section--hero__header row">
      <div class="col">
        <div class="logo">
          <a href="#!/">
            <div class="logo__weak">Down</div>
            <div class="logo__strong">Week</div>
            <div class="logo__weak">2016</div>
          </a>
        </div>
      </div>
      <div class="col">
        <nav class="section--hero__nav">
          <a href="#login">Login</a>
        </nav>
      </div>
    </header>

    <div class="section--hero__main row">
      <div class="col">
        <h1 class="section--hero__caption">Let's Connect.</h1>
        <h4 class="section--hero__description">#DownWeek2016</h4>
        <a class="button button-blue button-custom button-lg" href="#register">Sign Up</a>
      </div>
    </div>
  </div>
  <img class="section--hero__arrow" src="http://www.materialui.co/materialIcons/hardware/keyboard_arrow_down_white_192x192.png"/>
</section>
<section class="section section--about">
  <div class="content clearfix">
    <h2 class="section__heading">August 1 &mdash; 7</h2>
    <p class="section__content col-60">Spend the first week in August without any technology.</p>
    <p class="section__content--description col-60">Sign up to invite your closest friends and connect with those around you:</p>
    <ul class="section__content--bullets col-40">
      <li>Thing 1</li>
      <li>thing</li>
      <li>ting</li>
      <li>t</li>
    </ul>
  </div>
</section>
<section class="[ section section--contact ]">
  <div class="content">
    <div class="contact">
      <h2 class="contact__heading">Contact Us</h2>
      <p class="contact__networks">
        <a href=""><i class="icon ion-social-twitter"></i></a>
        <a href=""><i class="icon ion-social-facebook"></i></a>
        <a href=""><i class="icon ion-social-instagram"></i></a>
      </p>
      <form method="post" action="https://formspree.io/Contact@DownWeek.com" class="form contact__form">
        <p>
          <input name="Email" type="email" required class="form__input form__input--wide" placeholder="Goku@Example.com">
        </p>
        <p><input name="Subject" type="text" class="form__input form__input--wide" placeholder="Subject"></p>
        <p>
          <textarea name="Message" required id="" class="form__text" placeholder="Leave message here"></textarea>
        </p>
        <input type="submit" value="Send" class="button button-blue button-block">
      </form>
    </div>

    <form class="section--contact__paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="PZNFQVFPK8RFG">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>

</section>
