<div class="pagepopup">
  <div class="authenticator">
    <div class="authenticator__container">
      <div class="authenticator__heading">Recover Password</div>
      <form method="post" action="#" class="form authenticator__form">
        <p><input type="email" class="form__input form__input--wide" placeholder="Zev@Example.com"></p>
        <input type="submit" class="button button-gradiented button-blue button-block" value="Recover">
      </form>
    </div>
    <div class="authenticator__links">
      <a href="#register">Register</a>
      <a href="#register">Sign In</a>
      <a href="#/">Back to Home</a>
    </div>
  </div>
</div>
