<div class="page">
  <div class="authenticator">
    <div class="authenticator__container">
      <div class="authenticator__heading">Register</div>
      <form method="post" action="#" class="form authenticator__form">
        <p><input type="email" class="form__input form__input--wide" placeholder="Bernie@Example.com"></p>
        <p><input type="password" class="form__input form__input--wide" placeholder="*******"></p>
        <p><a href="" class="help-text">Terms of Service</a></p>
        <input type="submit" class="button button-gradiented button-blue button-block" value="Sign Up">
      </form>
    </div>
    <div class="authenticator__links">
      <a href="#login">Sign In</a>
      <a href="#/">Back to Home</a>
    </div>
  </div>
</div>
